{{ define "main" }}
  <link rel="stylesheet" href=/css/notes.css>

<main>

    <div class=title-bar> <h1 id="notes"> NOTES </h1> </div>

    <article id="article">

      {{ range where $.Site.RegularPages "Section" "notes" }}
        <div class=note-preview-holder>
           <div class=note-preview data-title="{{ .Title }}"> 
            <a href="{{ .Permalink }}" class=note-preview-title> {{ .Title }} </a>
            {{ .Content }}
           </div> 
            <div class=see-more-button> <a style="width: 100%; display: block" href="{{ .Permalink }}"> {{ .WordCount }}w</a> </div>
        </div>

        {{ end }}

    </article>
  </main>

{{ end }}