{{ define "main" }}

  <link rel="stylesheet" href=/css/note.css>
  
  {{ $currentURL := .Permalink }}
  <main>
    <!-- <div class=title-bar> <h1 id="{{ .Title }}">{{ .Title }}</h1> </div> -->
    <div class=note-scroll> 
      <div class=note-scroll-inner>
        {{ range where .Site.RegularPages "Section" "notes" }}
        {{ if eq .Permalink $currentURL }}
            <div class="note-entry current"> {{ .Title | markdownify }} </div>
          {{ else }}
            <div class="note-entry"> <a href="{{ .Permalink }}"> {{ .Title | markdownify }} </a> </div>
          {{ end }}          
        {{ end }}
      </div>
    </div>

    <div class=status style="height: 2em; width: 40rem; fit-content; transform: rotate3d(0, 0, 1, -90deg) translateX(20rem) translateY(-20rem); position: fixed; z-index: 2; bottom: 1em; left: 2.5em; font-family: IBM"> 
      <a href="/notes"><b> notes </b></a> > <span id=note-title> {{ .Title }}</span> > <span id=progress-% style="font-weight: 200;"> 90% </span> 
    </div>

    <article id="article">
      <div class=width-limit>
        {{ .Content }}
      </div>
    </article>

  </main>

  <script>

    function $(id){
      return document.getElementById(id)
    }

    let body = document.body,
        html = document.documentElement;

    let height = Math.max(
            body.scrollHeight,
            body.offsetHeight,
            html.clientHeight,
            html.scrollHeight,
            html.offsetHeight
        );

    const updateProgress = () => {

      let docElem = document.documentElement, 
      docBody = document.body,
      scrollTop = docElem['scrollTop'] || docBody['scrollTop'],
      scrollBottom = (docElem['scrollHeight'] || docBody['scrollHeight']) - window.innerHeight,
      scrollPercent = scrollTop / scrollBottom * 100 
      $("progress-%").innerHTML = scrollPercent.toString().substring(0,5) + "%"
    };

    setInterval( () => {
       updateProgress()
    }, 100)


  </script>

{{ end }}
   