    .essay-preview-holder{
      width: 47%;
      margin: 0px 0px 6% 0px;
      height: fit-content;
      display: inline-block;
      opacity: 0.9;
      position: relative;
      vertical-align: top;
      outline: solid 4px var(--text);
      line-height: 0px;
    }

    .essay-preview-holder:hover{
      opacity: 1;
    }

    .see-more-button{
      background: var(--text);
      padding: 1rem 1rem 0.5rem 1rem;
      color: var(--background);
      border: solid 4px var(--text);
      margin: 0px;
      line-height: 1.4em;
    }

    .essay-preview-holder img{
      filter: sepia(100%) saturate(150%) brightness(100%);
      height: 16rem;
    }

    .see-more-button a{
      background: transparent;
      opacity: 1;
    }

    .see-more-button a:hover{
      background: transparent;
      text-decoration: underline;
      text-underline-offset: 4px;
    }

    article{
      padding: 4rem;
      display: flex;
      box-sizing: border-box;
      text-align: left;
      width: 100%;
      max-width: calc(100% - 21rem);
      font-size: 18px;
      line-height: 1.5em;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    a{
      color: inherit;
      text-decoration-color: var(--text);
      text-underline-offset: 2px;
      text-decoration-thickness: 1px;
    }

    @media screen and (max-width: 1100px) {

                .sidebar{
                    display: none;
                }

                main{
                    width: 100%;
                }

                article{
                  max-width: 100%;
                  padding: 3rem 5%;
                }
            }

    @media screen and (max-width: 700px) {

                article{
                  max-width: 100%;
                  padding: 4rem 10%;
                }

                .essay-preview-holder{
                  width: 100%;
                  margin: 0px 0px 4rem 0px;
                }

                article{
                  display: inline-block;
                }
            }

