<html>
<head>
  <link rel="stylesheet" href=/css/style.css>
  <link rel="stylesheet" href=/css/sidebar.css>
  <link rel="stylesheet" href=/css/essays.css>
</head>

<body>

  <div class=mobile-menu> 
    <a href="/notes"> <div class=option> NOTES </div> </a>
    <a href="/"> <div class=option> HOME </div> </a>
    <a href="/essays"> <div class=option> ESSAYS </div> </a>
  </div>

  <main>

    <div class=title-bar> <h1 id="notes"> {{ .Title }} </h1> </div>

    <article>
      {{ range where $.Site.RegularPages "Section" "essays" }}
          <div class=essay-preview-holder>
              <img src="/media/essays/{{ .Params.thumbnail }}">              
              <div class=see-more-button> <a style="width: 100%; display: block" href="{{ .Permalink }}">  {{ .Title }} </a> </div>
        </div>
          
      {{ end }}
    </article>

  </main>
  

  </div>

  {{ partial "sidebar.html" .Site }}

</body>
</html>

   