{{ define "main" }}

<link rel="stylesheet" href=/css/essays.css>

  <main>

    <div class=title-bar> <h1 id="notes"> {{ .Title }} </h1> </div>

    <article>
      {{ range where $.Site.RegularPages "Section" "essays" }}
          <div class=essay-preview-holder>
              <a href="{{ .Permalink }}"><img src="/media/essays/{{ .Params.thumbnail }}" alt="{{ .Title }}"></a>
              <div class=see-more-button> <a style="width: 100%; display: block" href="{{ .Permalink }}">  {{ .Title }} </a> </div>
        </div>
          
      {{ end }}
    </article>

  </main>
  

  </div>

{{ end }}

   