
<title> WEBCRAFT </title>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180"  href="/media/card.jpg"> 
  <link rel="icon" type="image/png" sizes="32x32" href="/media/card.jpg"> 
  <link rel="icon" type="image/png" sizes="16x16"  href="/media/card.jpg"> 

  <!-- Facebook Open Graph tags -->
<meta property="og:url" content="https://webcraft.joodaloop.com" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ .Description }}" />
<meta property="og:image" content="https://webcraft.joodaloop.com/media/card.jpg" />

<!-- Twitter Card (large image card) tags -->
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@joodaloop">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Description }}" />
<meta name="twitter:image" content="https://webcraft.joodaloop.com/media/card.jpg" />

<meta name="description" content="{{ .Description }}">
