<div class=sidebar> 

    <div class="title"> <a href="/"> anton troynikov </a> </div>

    
    <a href="{{ .Site.Params.subscriptionLink}}">
        <div class=subscribe style="background: var(--text); width: calc(100%); text-align: center; padding: 1rem 0rem; font-size: 1.4rem; font-family: IBM; opacity: 1; font-weight: 200; color: var(--background); margin-bottom: 0.1rem"> SUBSCRIBE </div>
    </a>

    <div class=scrollable>

        <label class="switch">
          <input type="checkbox" id=mode>
          <span class="toggle"></span>
        </label>

        <div style="width:calc(100% - 3em); margin: 1em 1.5em 2.5em 1.5em">
            <div id=posts-display> <a href="#"> Welcome! Use this screen to browse essay titles</a></div>
            <div style="display:flex; justify-content: space-between; align-items: center; gap: 6px;">
            <button onclick="prevPost()" class=posts-display-button> Previous </button>
            <button onclick="window.location='/essays'" class=posts-display-button> ALL ESSAYS </button>
            <button onclick="nextPost()" class=posts-display-button> Next </button>
        </div>
        </div>

        <div class=notes>
            <div class=graph> 
                <h3><a href="/notes"> NOTES </a></h3>
                {{ range where .Site.RegularPages "Section" "notes"}}
                    <a href="{{ .Permalink }}">
                        <span class=bar style="width: 10px; height:{{ div (int .WordCount) 5 }}px; display: inline-block; background: var(--text); margin: 1.5rem 0px -2px 0px; ">
                            <span class=tooltip> {{ .Title }} </span>
                        </span>
                    </a> 
                {{ end }}
            </div>
            <div class=subtitle> Shorter, and oft-incomplete writing. Explorations of a theme, not comprehensive material.
            </div>
        </div> 
    </div>

    <div class=bottom>
        <div class=coords>
          <table style="width: 70%; font-weight: 200; display: inline-table;" class=smaller-table> 
            <tr> <td> x </td> <td id=x> 0 </td> </tr>
            <tr> <td> y </td> <td id=y> 0 </td> </tr>
            <tr> <td style="background: var(--text); color: var(--background);" id=clock> 0000000000 </td> <td id=time> 12:00 </td> </tr>
          </table>
          <div class=velocity-holder> 
            <div id=velocity>1.02</div> px/ms 
          </div>
        </div>

    </div>

</div>

   {{ $essays := slice }}
    {{ range where .Site.RegularPages "Section" "essays" }}
      {{ $essays = $essays | append (dict "title" .Title "permalink" .Permalink) }}
    {{ end }}

<script>

    let currentPost = 0 
    let mode = 0
    let modeObject = {
          0: ["#111", "#F59E02"],
          1: ["#eaeaea", "#E6641E"]
      }

    function $(id){
        return document.getElementById(id)
      }

    let light = localStorage.getItem("light") ?? false
    if (light == "true"){ 
        switchMode() 
        $("mode").checked = true
    }

    var mrefreshinterval = 500; // update display every 500ms
    var lastmousex=-1; 
    var lastmousey=-1;
    var lastmousetime;
    var mousetravel = 0;

    document.addEventListener("mousemove", (e) => {
        let mousex = e.pageX;
        let mousey = e.pageY;
        let c = [mousex, mousey]
        $("x").innerHTML = c[0] 
        $("y").innerHTML = c[1] 

        if (lastmousex > -1)
          mousetravel += Math.max( Math.abs(mousex-lastmousex), Math.abs(mousey-lastmousey) );
          lastmousex = mousex;
          lastmousey = mousey;
    })

    setInterval( () => {
      let d = new Date()
      let h = d.getHours(), m = d.getMinutes(), s = d.getSeconds()
      $("clock").innerHTML = d.getTime()
      $("time").innerHTML = + h + ":" + m
      // $("clock").innerHTML = d.getTime() + " - " + h + ":" + m + ":" + s
    }, 200)

    setInterval( () => {
      $("velocity").innerHTML = mousetravel / 50
      mousetravel = 0
    }, 200)

    $("mode").addEventListener('click', switchMode)

    function switchMode(){
      mode = mode = 1 - mode;
      var r = document.querySelector(':root');
      r.style.setProperty('--background', modeObject[mode][0]);
      r.style.setProperty('--text', modeObject[mode][1]);

      localStorage.setItem("light", !!mode)
    }

      let posts = {{ $essays | jsonify }};
      posts = JSON.parse(posts)

    function nextPost(){
      $("posts-display").innerHTML = `<a href="${posts[currentPost].permalink}"> ${posts[currentPost].title} </a>`
      if(currentPost < posts.length - 1){currentPost++}
        else{currentPost = 0}
    }

    function prevPost(){
      $("posts-display").innerHTML = `<a href="${posts[currentPost].permalink}"> ${posts[currentPost].title} </a>`
         if(currentPost > 0 ){currentPost--}
        else{currentPost = posts.length - 1}
    }
</script>