<!DOCTYPE html>
    {{ partial "head.html" . }}
	<body>     
		<div class="main">
            <nav>
                <a href="/"> Home </a>
                <a href="/commands"> Commands </a>
                <a href="/faq"> FAQ </a>
                <a href="/api"> API </a>
                <a href="/theme-editor"> Editor </a>
            </nav>

			<h1> The official guide to <a style="color: red" href="https://streams.place">streams.place</a> </h1>

			<p> <b>Streams</b> are a <s>revolutionary approach to blogging</s> simple way to write and publish posts from a Telegram chat. </p>

			<div id="menu">
           <!-- <span class=title>Stream</span> -->
                <ul>     
                    <li><a href="#features"> Features </a></li>
                    <li><a href="#privacy"> Privacy </a></li>
                    <li><a href="#markdown"> Markdown </a></li>
                    <li><a href="#theme-gallery"> Theme Gallery </a></li>
                    <li><a href="#layout-gallery"> Layout Gallery </a></li>
                    <li><a href="#roadmap"> Roadmap </a></li>
                    <li><a href="#microblogging"> Micro-blogging </a></li>
                    <li><a href="#furthermore"> Furthermore... </a></li>
                    <li><a href="#gratitude"> Gratitude </a></li>
                </ul>
            </div>

			{{ .Content }}
		</div>

	</body>

</html>